# Virtual environments
venv/

# Airflow specific files
airflow-webserver.pid
airflow.cfg
logs/
webserver_config.py
airflow.db


# Python specific files and directories
__pycache__/

# Development environments/tools
.idea/

.env

#dbt files
dbt/dbt_packages/
dbt/target/
dbt/logs/
dbt/.user.yml
dbt/earthquake_dbt/.gitignore

#superset
superset/superset.db